server:
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
      force-response: true

spring:
  application:
    name: ${SPRING_APP_NAME:navik}
  profiles:
    active: ${SPRING_ACTIVE_PROFILE:dev}